﻿<form class="form-horizontal" name="frmAcreditacion" novalidate role="form" method="post" enctype="multipart/form-data">

    <h1>ACREDITACIÓN</h1>
    <fieldset>
        <style>
            .full button span {
                background-color: limegreen;
                border-radius: 32px;
                color: black;
            }

            .partially button span {
                background-color: orange;
                border-radius: 32px;
                color: black;
            }
        </style>
        <legend></legend>
        <div class="form-group" show-errors>
            <label for="fecha" class="col-sm-3 control-label">Fecha:</label><i class='glyphicon glyphicon-info-sign'></i>

            <div class="col-md-3 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <div ng-app ng-controller="f02AcreditacionController"> {{fechahoy | date:'dd-MM-yyyy'}}</div>
                  <!--  <input type="text" id="fecha" name="fecha" class="form-control" ng-model="solicitudAcreditacion.fecha" ng-required="true" close-text="Close" />-->
                </div>
                <span class="help-block" ng-if="frmAcreditacion.fecha.$error.required">Debe registrar la fecha.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="entidad" class="col-sm-3 control-label">Entidad solicitante:</label><i class='glyphicon glyphicon-info-sign'></i>
            <div class="col-sm-6">
                <select name="entidad" id="entidad" class="form-control" ng-model="solicitudAcreditacion.entidad"> </select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group" show-errors>
            <label for="vocativo" class="col-sm-3 control-label">Vocativo:</label><i class='glyphicon glyphicon-info-sign'></i>
            <div class="col-md-3 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <select name="vocativo" id="vocativo" class="form-control" ng-model="solicitudAcreditacion.vocativo" ng-options="voc for voc in vocativos"></select>
                </div>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Nombre</label><i class='glyphicon glyphicon-info-sign'></i>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control" ng-model="solicitudAcreditacion.nombre" ng-required="true">
                </div>
                <span class="help-block" ng-if="frmAcreditacion.nombre.$error.required">Debe registrar el nombre.</span>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="apellido" class="col-sm-3 control-label">Apellido</label><i class='glyphicon glyphicon-info-sign'></i>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" id="apellido" name="apellido" placeholder="Apellidos" class="form-control" ng-model="solicitudAcreditacion.apellido" ng-required="true">
                </div>
                <span class="help-block" ng-if="frmAcreditacion.nombre.$error.required">Debe registrar el nombre.</span>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="pasaporte" class="col-sm-3 control-label">No. de Pasaporte:</label><i class='glyphicon glyphicon-info-sign'></i>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-plane"></i></span>
                    <input type="text" id="pasaporte" name="pasaporte" placeholder="Pasaporte" class="form-control" ng-model="solicitudAcreditacion.pasaporte" ng-required="true">
                </div>
                <span class="help-block" ng-if="frmAcreditacion.pasaporte.$error.required">Debe registrar pasaporte.</span>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="pais" class="col-sm-3 control-label">País de origen:</label><i class='glyphicon glyphicon-info-sign'></i>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                    <select class="form-control" name="pais" ng-model="solicitudAcreditacion.pais" ng-options="pais.id as pais.nombre_Pais for pais in paises track by pais.id">
                        <option value="" label="Seleccione un pais"></option>
                    </select>
                </div>
                <span class="help-block" ng-if="frmAcreditacion.pais.$error.required">Debe registrar el apellido.</span>
            </div>
        </div>


        <div class="form-group" show-errors>
            <label for="cargo" class="col-sm-3 control-label">Cargo:</label>
            <div class="col-sm-2">
                <select name="cargo" id="cargo" class="form-control" ng-model="solicitudAcreditacion.cargo"></select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="fechainicio" class="col-sm-3 control-label">Fecha de inicio de funciones:</label><i class='glyphicon glyphicon-info-sign'></i>

            <div class="col-md-3 inputGroupContainer">
                <p class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default form-control" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    <input type="text" id="fechainicio" name="fechainicio" class="form-control" uib-datepicker-popup="{{format}}" ng-model="solicitudAcreditacion.fechainicio" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputsFormats" />
                </p>
                <span class="help-block" ng-if="frmAcreditacion.fechainicio.$error.required">Debe registrar la fecha de inicio de funciones.</span>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="correoe" class="col-sm-3 control-label">Correo electrónico:</label><i class='glyphicon glyphicon-info-sign'></i>
            <div class="col-sm-3">
                <input type="email" id="correoe" name="correoe" class="form-control"
                       ng-model="solicitudAcreditacion.correoe" ng-required="true" />
                <span class="help-block"
                      ng-if="frmAcreditacion.correoe.$error.required && frmAcreditacion.correoe.$dirty">Debe registrar el correo electrónico.</span>
            </div>
        </div>

    </fieldset>

   cx  <!--  <span class="help-block" ng-if="frmAcreditacion.nota.$error.required">Debe adjuntar la solicitud original.</span>
                -->
            </div>
        </div>
    </fieldset>



    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancelar"
               ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Enviar"
               ng-click="submitForm()" />
        <input type="reset" class="btn btn-warning" value="Limpiar"
               ng-click="resetForm()" />
        <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
    </div>

</form>