﻿@{
    ViewBag.Title = "Privilegios Diplomáticos";
    Layout = null;
}

<html ng-app="privilegiosApp">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/mini-spa/styles")
    @Scripts.Render("~/bundles/mini-spa/scripts")
</head>

<body class="container">
    <br/>
    
    <div ng-view></div>

</body>
</html>