﻿<form class="form-horizontal" name="frmSolicitudes" novalidate role="form" method="post" enctype="multipart/form-data">

    <h1>
        FORMULARIO DE SOLICITUD DE:
                Carné de Identificación
                Licencia de Conducir
                Carn{e de Execión de ITMBS
    </h1>

    <fieldset>
        <div class="form-group">
            <label for="entidad" class="col-sm-3 control-label">Entidad solicitante:</label>
            <div class="col-sm-6">
                <select name="entidad" id="entidad" class="form-control" ng-model="solicitudes.entidad"> </select>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control" ng-model="solicitudes.nombre" ng-required="true">
                </div>
                <span class="help-block" ng-if="frmSolicitudes.nombre.$error.required">Debe registrar el nombre.</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Pasaporte</label><i class='glyphicon glyphicon-info-sign'></i>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-plane"></i></span>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control" ng-model="solicitudAcreditacion.nombre" ng-required="true">
                </div>
                <span class="help-block" ng-if="frmAcreditacion.nombre.$error.required">Debe registrar el nombre.</span>
            </div>
        </div>
        
        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Solicita</label><i class='glyphicon glyphicon-info-sign'></i>
            <div class="col-sm-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="checkbox" id="seleccion07" name="seleccion07" placeholder="Carne de Identificacionas" class="form-control" ng-model="solicitudAcreditacion.solicitaCarnet ng-required="true">
                    <input type="checkbox" id="seleccion07" name="seleccion07" placeholder="Carne de Identificacionas" class="form-control" ng-model="solicitudAcreditacion.solicitaLicencia" ng-required="true">
                    <input type="checkbox" id="seleccion07" name="seleccion07" placeholder="Carne de Identificacionas" class="form-control" ng-model="solicitudAcreditacion.nombre" ng-required="true">
                </div>
                <span class="help-block" ng-if="frmSolicitudes.seleccion.$error.required">Debe escoger al menos uno.</span>
            </div>
        </div>



    </fieldset>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancelar"
               ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Enviar"
               ng-click="submitForm()" />
        <input type="reset" class="btn btn-warning" value="Limpiar"
               ng-click="resetForm()" />
        <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
    </div>


</form>