﻿<form class="form-horizontal" name="frmVisa" novalidate role="form" method="post" enctype="multipart/form-data">











    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancelar"
               ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Enviar"
               ng-click="submitForm()" />
        <input type="reset" class="btn btn-warning" value="Limpiar"
               ng-click="resetForm()" />
        <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
    </div>


</form>