﻿

<input type="button" class="btn btn-primary" value="Solicitud de Acreditación" ng-click="showSolicitarAcreditacion()" />
<br />

<input type="button" class="btn btn-primary" value="Solicitud Carnet" ng-click="showSolicitarCarnet()" />
<br />



